/* Colors
    Green: #2DAD67
    Red: #FF2558
    Blue: #111D5E
*/
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?tc7q2y');
    src:  url('../assets/fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('../assets/fonts/icomoon.woff?tc7q2y') format('woff'),
      url('../assets/fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  


/********************Generals*/
:root {
    --green-color: #2DAD67;
    --red-color: #FF2558;
    --blue-color: #111D5E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: inherit;
    flex-wrap: inherit;
    flex: 1;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    max-width: 1100px;
    margin: 0 auto;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Fjalla One', serif;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;
}

h2 {
    color: var(--blue-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/********************Header*/

.header {
    background: var(--red-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.burger-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, .2);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 9999;
    left: 5px;
    top: 5px;
    color: var(--blue-color);
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.menu {
    height: inherit;
}

.menu__container {
    display: flex;
    align-items: center;
    height: inherit;
}

.item__menu {
    margin: 0 10px;
    color: var(--blue-color);
}

.item__menu:hover {
    text-decoration: underline;
}

/********************Hero*/

.hero {
    background: var(--blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.hero h1 {
    color: var(--green-color);
    text-align: center;
}

.hero__image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/********************Projects*/

.projects,
.experience,
.skills,
.contact {
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px; 
}

.project__details {
    width: 50%;
}

.project__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.project__features,
.project__date,
.project__link {
    margin: 10px 0;
}

.project__description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', serif;
}

.project__image__container {
    width: 50%;
}

.project__image__container img {
    max-width: 100%;
}

/********************Experience*/

.jobs__container {
    display: flex;
}

.job {
    background: var(--blue-color);
    border: 1px solid var(--red-color);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 50%;
}

.job__details {
    margin: 20px 40px;
    margin-top: -40px;
    background: var(--green-color);
    position: relative;
    padding: 20px;
    text-align: center;
}

.job__image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

/********************Contact*/

.contact {
    background: var(--blue-color);
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.form__email h3 {
    margin-bottom: 10px;
}

.form__email input {
    background-image: url('../assets/images/envelope.svg');
    background-color: var(--white-color);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
}

.form__email button {
    display: block;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 0;
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: center;
}

.social__link {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.social__link.twitter {
    background: url('../assets/images/twitter.svg');
    background-size: 50px;
}

.social__link.instagram {
    background: url('../assets/images/instagram.svg');
    background-size: 50px;
}

.social__link.github {
    background: url('../assets/images/github.svg');
    background-size: 50px;
}

.social__link.linkedin {
    background: url('../assets/images/linkedin.svg');
    background-size: 50px;
}

/********************Footer*/

.footer {
    background: var(--red-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

/********************Responsive*/

@media screen and (max-width: 1024px) {

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero h1 {
        font-size: 2em;
        z-index: 2;
    }

    .hero__image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .container {
        padding: 0 1em;
    }

    .header {
        display: block;
        height: auto;
    }

    .burger-button {
        display: block;
    }

    .header .logo {
        margin: 0 auto;
    }

    .header ul {
        display: block;
        height: auto;
    }

    .header ul li {
        height: 50px;
        text-align: center;
    }

    .header ul li a {
        color: white;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: 1em;
    }

    .menu {
        position: fixed;
        background: rgba(17, 29, 94, .85);
        z-index: 9998;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-Active {
        left: 0;
    }

    .project {
        display: block;
    }

    .project__image__container {
        width: auto;
        margin: 0 auto;
    }

    .project__details {
        width: auto;
        font-size: 16px;
    }

    .project__title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project__link {
        font-size: 1em;
    }

    .project__features {
        font-size: .7em;
    }

    .project__description {
        font-size: 1em;
    }

    .project__features,
    .project__date,
    .project__link {
        margin: .3em 0;
    }

    .jobs__container {
        flex-wrap: wrap;
    }

    .job {
        width: auto;
    }

    .job__image {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    .hero h1 {
        font-size: 1.5em;
    }

    .project__details {
        font-size: 14px;
    }
    
    .job__details {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact {
        display: block;
        height: auto;
        padding: 1.5em 0;
        text-align: center;
    }

    .contact h3 {
        margin-top: 0;
    }

    .contact button {
        margin: 1em auto;
    }

    .footer {
        border: 1px solid transparent;
        display: block;
        text-align: center;
    }

}

@media screen and (min-width: 320px) {

    .hero h1 {
        font-size: 1.2em;
    }

    .hero {
        padding: 2em 1em;
    }

}