/* Colors
    Green: #2DAD67
    Red: #FF2558
    Blue: #111D5E
*/
/********************Generals*/
:root {
    --green-color: #2DAD67;
    --red-color: #FF2558;
    --blue-color: #111D5E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Fjalla One', serif;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;
}

h2 {
    color: var(--blue-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/********************Header*/

.header {
    background: var(--red-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.menu {
    height: inherit;
}

.menu__container {
    display: flex;
    align-items: center;
    height: inherit;
}

.item__menu {
    margin: 0 10px;
    color: var(--blue-color);
}

.item__menu:nth-child(4){
    border: 1px solid var(--blue-color);
    border-radius: 4px;
    padding: 10px;
}

.item__menu:hover {
    text-decoration: underline;
}

/********************Hero*/

.hero {
    background: var(--blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.hero h1 {
    color: var(--green-color);
    text-align: center;
}

.hero__image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/********************Projects*/

.projects,
.experience,
.skills,
.contact {
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px; 
}

.project__details {
    width: 500px;
}

.project__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.project__features,
.project__date,
.project__link {
    margin: 10px 0;
}

.project__description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', serif;
}

.project__image__container {
    width: 400px;
}

.project__image__container img {
    width: 100%;
}

/********************Experience*/

.jobs__container {
    display: flex;
}

.job {
    background: var(--blue-color);
    border: 1px solid var(--red-color);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 480px;
}

.job__details {
    margin: 20px 40px;
    margin-top: -40px;
    background: var(--green-color);
    position: relative;
    padding: 20px;
    text-align: center;
}

.job__image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

/********************Contact*/

.contact {
    background: var(--blue-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.form__email h3 {
    margin-bottom: 10px;
}

.form__email input {
    background-image: url('../assets/images/envelope.svg');
    background-color: var(--white-color);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
}

.form__email button {
    display: block;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 0;
    margin-top: 10px;
}

.social {
    display: flex;
}

.social__link {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.social__link.twitter {
    background: url('../assets/images/twitter.svg');
    background-size: 50px;
}

.social__link.instagram {
    background: url('../assets/images/instagram.svg');
    background-size: 50px;
}

.social__link.github {
    background: url('../assets/images/github.svg');
    background-size: 50px;
}

.social__link.linkedin {
    background: url('../assets/images/linkedin.svg');
    background-size: 50px;
}

/********************Footer*/

.footer {
    background: var(--red-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}